.contenedor {
    display: flex;
    justify-content: center; 
    padding: 20px;
    
}

.content {
    display: flex;
    gap: 20px; 
}

.div-tabla {
    flex: 3; 
}

.div-cart {
    flex: 1; 
}

